<!DOCTYPE html>
<html>
    <head>
        <title>$title$ - $site-title$</title>
        <link rel="stylesheet" href="/style.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:url" content="$root$$url$" />
        <meta property="og:title" content="$title$ - $site-title$" />
        <meta property="og:type" content=$if(published)$"article"$else$"website"$endif$ />
        $if(audio)$
        <meta property="og:image" content="$root$/media/vekatze-play-magenta.jpg" />
        $else$
        <meta property="og:image" content="$root$/media/vekatze.jpg" />
        $endif$
        $if(summary)$
        <meta property="og:description" content="$summary$" />
        $endif$
        $if(audio)$
        <script src="/asset/plyr.js"></script>
        <link rel="stylesheet" href="/asset/plyr.css" />
        $endif$
        $if(mathjax)$
        <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        $endif$
    </head>
    <body>
        <header>
            <h1><a href="/index.html">$site-title$</a></h1>
        </header>
        <main>
            $body$
        </main>
        <footer>
            <p>
                <span class="metadata">
                    <a href="https://bsky.app/profile/vekatze.bsky.social">bluesky</a>
                    /
                    <a href="https://twitter.com/ricotie">twitter</a>
                    /
                    <a href="https://github.com/vekatze">github</a>
                    /
                    <a href="mailto:vekatze@icloud.com">email</a>
                </span>
            </p>
        </footer>
        $if(audio)$
        <script src="/main.js"></script>
        $endif$
    </body>
</html>
