<header>
    <h1>$title$</h1>
    $if(published)$
    <span class="metadata">$published$</span>
    $endif$
</header>
$if(audio)$
<div id="audio-player">
    $if(cover)$
      <div id="cover-container">
          <img id="cover" class="cover" src="$cover$"/>
          <div id="cover-overlay">
              <img id="play-button" src="/media/play-button-triangle.png" />
          </div>
      </div>
    $endif$
    <audio id="audio-player-internal" preload="auto" src="$audio$" />
</div>
$endif$
$body$
